
.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo-container {
    height: 500px;
    width: 400px;
}

.about-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-text-container {
    height: 500px;
    width: 400px;
    padding: 20px 20px 20px;
}

.about-highlight h5 {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.about-desc {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    width: -moz-fit-content;
    text-align: justify;
}

.text-group ul {
    margin: 0;
    list-style: square;
}

.text-group ul li {
    font-size: 18 px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-group-custom {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container div .contact {
    color: #FFC75F;
    border-bottom: #FFC75F solid 2px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 992px) {
    .about-photo-container {
        display: none;
    }

    .about-text-container {}

}