.line{
    border-bottom: solid #FFC75F 2px;
}

.card-container-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pro-title{
    text-align: center;
    font-family: Brush Script MT;
    font-size: 55px;
    margin-bottom: 20px;
}

.card{
    margin: 10px;
}